<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <form method="post" action="/products/search" id="searchForm" class="w-100" th:object="${searchRequest}">
            <h6 class="mb-3 text-danger">Search by</h6>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3 row">
                        <label for="priceSearch" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="priceSearch" class="form-control" th:field="*{name}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <label class=" col-form-label">CreateAt</label>
                        </div>
                        <div class="col-sm-8 d-flex flex-wrap">
                            <div class="me-4">
                                <input type="date" id="create_at_from" class="form-control" th:field="*{fromCreateAt}">
                            </div>
                            <div class="me-4">
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            <div>
                                <input type="date" id="create_at_to" class="form-control" th:field="*{toCreateAt}">
                            </div>
                        </div>

                    </div>
                    <div class="mb-3 row">
                        <label for="colorSearch" class="col-sm-4 col-form-label">Color</label>
                        <div class="col-sm-8">
                            <select id="colorSearch" class="form-select" th:field="*{color}">
                                <option value="" selected>-- Select color --</option>
                                <option value="black">Black</option>
                                <option value="white">White</option>
                                <option value="silver">Silver</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="mb-3 row">
                        <label for="categorySearch" class="col-sm-4 col-form-label">Category</label>
                        <div class="col-sm-8">
                            <select id="categorySearch" class="form-select" th:field="*{category}">
                                <option value="" selected >-- Select category --</option>
                                <option value="computer">Computer</option>
                                <option value="phone">Phone</option>
                                <option value="ipad">Ipad</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Features</label>
                        <div class="mt-2 col-sm-8 d-flex flex-wrap">
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" id="chk_gps" th:field="*{features}" value="gps">
                                <label class="form-check-label" for="chk_gps">GPS</label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" id="chk_nfc" th:field="*{features}" value="nfc">
                                <label class="form-check-label" for="chk_nfc">NFC</label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" id="chk_waterproof" th:field="*{features}"  value="waterproof">
                                <label class="form-check-label" for="chk_waterproof">Waterproof</label>
                            </div>
                        </div>
                    </div>

                    <div class="me-4 d-flex justify-content-end">
                        <a href="/products"><input class="btn btn-success me-3" type="button" value="Refresh"></a>
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>

                </div>
            </div>
        </form>
    </div>
</nav>

<div class="container mt-3">
    <div style="display: flex; justify-content: flex-start; align-items: center;">
        <a class="btn btn-primary" href="/products/create">Create Product</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Feature</th>
            <th>Thumbnail</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.color}"></td>
            <td>
                <ul style="padding-left: 15px; margin: 0;">
                    <li th:each="a : ${product.features}" th:text="${a.feature}"></li>
                </ul>
            </td>

            <td>
                <img th:src="@{'/images/' +${product.thumbnail} }" width="90" class="img-thumbnail">
            </td>
            <td th:text="${#dates.format(product.createdAt,'MM/dd/yyyy')}"></td>

            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/products/update/{id}(id=${product.id})}">Sửa</a>
                <a class="btn btn-primary btn-sm btn-delete" th:attr="data-id=${product.id}" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</a>
            </td>
        </tr>
        </tbody>


    </table>


</div>

<!-- modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Xóa product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa product này không?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmDelete" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
